/* Leeds First Friday App CSS */

/* GLOBAL */

@font-face {
	font-family: 'PolySansSlim';
	src: url('../font/PolySansSlim.ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'PolySansMedian';
	src: url('../font/PolySansMedian.ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'PolySansNeutral';
	src: url('../font/PolySansNeutral.ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'PolySansBulky';
	src: url('../font/PolySansBulky.ttf');
	font-style: normal;
	font-weight: normal;
}

html {
	-webkit-tap-highlight-color: rgba(001, 001, 001, 0.0);
}

body::-webkit-scrollbar {
	display: none;
}

html,
body {
	max-width: 100%;
	overflow-x: hidden;
	height: 100vh;
	background-color: white;
	margin: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



a {
	text-decoration: none
}

.center {
	text-align: center;
}

.homescreenbox {
	max-width: 95%;
	background-color: rgba(255, 255, 255, 0.2);
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	margin-top: 1vh;
}

.homescreentext {
	text-align: center;
	padding: 6vw 0;
	color: white;
	font-family: AeonikReg;
	font-size: 3vw;
	width: 90vw;
	margin: 0 auto;
}

.vcenter {
	width: 100vw;
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.text-center {
	text-align: center;
}


#errorModal {
	display: none;
	position: absolute;
	z-index: 99;
	width: 100%;
	top: 0px;
}

.behind {
	z-index: -2;
}

.modal {
	background-color: rgba(0,0,0,0.4);
	position:absolute;
	top: 0px;
	height: 100vh;
}

.modal-content {
	margin: 20px;
	padding: 20px;
}

.modal-dialog {
	background-color: white;
}

.modal-header {
	font-family: AeonikMed;
	text-transform: uppercase;
	font-size: 32pt;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #d1446f;
}

.modal-body {
	font-family: AeonikReg;
	font-size: 16pt;
	text-align: center;
	color: black;
}

.modal-btn {
	font-family: AeonikMed;
	text-transform: uppercase;
	font-size: 8vw;
	text-align: center;
	max-width: 50%;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid white;
	background-color:#d1446f;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 1*/0px;
	width: 70%;
	border-radius: 180px;
}

.modal-footer {
	margin-bottom: 20px;
}

.loginlogo {
	margin-left: auto;
	margin-right: auto;
	width: 50vw;
	padding-top: 60px;
	padding-bottom: 40px;
	background-repeat: no-repeat;
	background-size: 100%;
}

.loginlogoimg {
	width: 50vw;
}

.black {
	color: black;
}

.white {
	color: white;
}

.loginexplain {
	font-family: PolySansNeutral;
	font-size: 12pt;
	opacity: 1;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	margin-top: 60px;
	margin-bottom: 20px;
}

.logintext {
	font-family: PolySansNeutral;
	font-size: 5vw;
	line-height: 8vh;
	text-align: center;
	max-width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 10px;
}

.loginbtn {
	font-family: PolySansMedian;
	text-transform: uppercase;
	background: #d1446f;
	border-radius: 140px;
	font-weight: normal;
	font-style: normal;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-size: 6vw;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	min-width: 60vw;
	width: 60vw;
	padding-top: 20px;
	padding-bottom: 18px;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
}

.form-control {
	padding: 20px 0;
	border-radius: 100px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 60vw;
	border: 1px solid #ad95cc;
	text-transform: uppercase;
	font-family: 'PolySansNeutral';
	font-size: 6vw;
	line-height: 1em;
	text-align: center;		
}


.title {
	text-align: center;
	font-size: 2em;
}

.fullwidth {
	width: 100%;
}

.fullheight {
	height: 100vh;
}

.banner {
	min-height: 50px;
}

.boxfix {
	margin-top: 10%;
	min-height: 60%;
	background-color: rgba(0, 0, 0, .2);
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}

.userbox {
    padding: 1vw 2.5vw;
    border-radius: 100px;
    border: 2px solid #d1446f;
    background-color: white;
    font-family: AeonikMed;
    text-transform: uppercase;
    font-size: 8vw;
    text-align: center;
    width: 50%;
    color: #fff !important;
}

.logoimg {
	max-height: 80px;
	position: fixed;
	top: 10px;
	left: 10px;
}


.white {
	color: white!important;
}


